html, body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

figure{
	margin: 0;
}

.poem-container{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
}

.poem-container:nth-of-type(1){
	background: linear-gradient(to bottom, #006eff 0%, #0f76fd 100%);
}

.poem-container:nth-of-type(2){
	background: linear-gradient(to bottom, #0f76fd 0%, #1f7efc 100%);
}

.poem-container:nth-of-type(3){
	background: linear-gradient(to bottom, #1f7efc 0%, #2e86fa 100%);
}

.poem-container:nth-of-type(4){
	background: linear-gradient(to bottom, #2e86fa 0%, #3d8ef8 100%);
}

.poem-container:nth-of-type(5){
	background: linear-gradient(to bottom, #3d8ef8 0%, #4d96f7 100%);
}

.poem-container:nth-of-type(6){
	background: linear-gradient(to bottom, #4d96f7 0%, #5c9ef5 100%);
}

.poem-container:nth-of-type(7){
	background: linear-gradient(to bottom, #5c9ef5 0%, #6ba6f3 100%);
}

.poem-container:nth-of-type(8){
	background: linear-gradient(to bottom, #6ba6f3 0%, #7baef2 100%);
}

.poem-container:nth-of-type(9){
	background: linear-gradient(to bottom, #7baef2 0%, #8ab6f0 100%);
}

.poem-container:nth-of-type(10){
	background: linear-gradient(to bottom, #8ab6f0 0%, #99beee 100%);
}

.poem-container:nth-of-type(11){
	background: linear-gradient(to bottom, #99beee 0%, #a9c6ed 100%);
}

.poem-container:nth-of-type(12){
	background: linear-gradient(to bottom, #a9c6ed 0%, #b8ceeb 100%);
}

.poem-container:nth-of-type(13){
	background: linear-gradient(to bottom, #b8ceeb 0%, #c7d6e9 100%);
}

.poem-container:nth-of-type(14){
	background: linear-gradient(to bottom, #c7d6e9 0%, #d7dee8 100%);
}

.poem-container:nth-of-type(15){
	background: linear-gradient(to bottom, #d7dee8 0%, #e6e6e6 100%);
}

.poem-container:nth-of-type(16){
	background: linear-gradient(to bottom, #e6e6e6 0%, #e8dcd7 100%);
}

.poem-container:nth-of-type(17){
	background: linear-gradient(to bottom, #e8dcd7 0%, #e9d3c7 100%);
}

.poem-container:nth-of-type(18){
	background: linear-gradient(to bottom, #e9d3c7 0%, #ebc9b8 100%);
}

.poem-container:nth-of-type(19){
	background: linear-gradient(to bottom, #ebc9b8 0%, #edbfa9 100%);
}

.poem-container:nth-of-type(20){
	background: linear-gradient(to bottom, #edbfa9 0%, #eeb699 100%);
}

.poem-container:nth-of-type(21){
	background: linear-gradient(to bottom, #eeb699 0%, #f0ac8a 100%);
}

.poem-container:nth-of-type(22){
	background: linear-gradient(to bottom, #f0ac8a 0%, #f2a27b 100%);
}

.poem-container:nth-of-type(23){
	background: linear-gradient(to bottom, #f2a27b 0%, #f3996b 100%);
}

.poem-container:nth-of-type(24){
	background: linear-gradient(to bottom, #f3996b 0%, #f58f5c 100%);
}

.poem-container:nth-of-type(25){
	background: linear-gradient(to bottom, #f58f5c 0%, #f7854d 100%);
}

.poem-container:nth-of-type(26){
	background: linear-gradient(to bottom, #f7854d 0%, #f87c3d 100%);
}

.poem-container:nth-of-type(27){
	background: linear-gradient(to bottom, #f87c3d 0%, #fa722e 100%);
}

.poem-container:nth-of-type(28){
	background: linear-gradient(to bottom, #fa722e 0%, #fc681f 100%);
}

.poem-container:nth-of-type(29){
	background: linear-gradient(to bottom, #fc681f 0%, #fd5f0f 100%);
}

.poem-container:nth-of-type(30){
	background: linear-gradient(to bottom, #fd5f0f 0%, #ff5500 100%);
}

.poem-container:nth-of-type(31){
	background: linear-gradient(to bottom, #ff5500 0%, #ff4800 100%);
}

.poem-container:nth-of-type(32){
	background: linear-gradient(to bottom, #ff4800 0%, #ff3600 100%);
}

.poem-image{
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	transition: 2s;
	transform: perspective(15vh) rotateX(65deg);
	position: relative;
	z-index: 0;
	background-color: white;
}

.poem-container:nth-of-type(2) .poem-image{
	flex-direction: column;
}

.poem-container:nth-of-type(5) .poem-image{
	justify-content: flex-end;
}

.poem-container:nth-of-type(33) .poem-image{
	transform: rotateX(0deg);
}

.poem-container:nth-of-type(6) .poem-image,
.poem-container:nth-of-type(7) .poem-image,
.poem-container:nth-of-type(11) .poem-image{
	align-items: center;
	justify-content: center;
	text-align: center;
}

.poem-container:hover .poem-image,
.poem-container:active .poem-image{
	transform: rotateX(0deg);
}

img{
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: 1s;
}

.poem-container:nth-of-type(2) .poem-image div img{
	width: 100%;
	height: auto;
	max-height: 100%;
}

img:hover{
	opacity: 0.75;
}

.poem-number{
	position: fixed;
	z-index: 1;
}

.poem-number a{
	font-size: 14px;
	font-family: sans-serif;
	color: black;
	line-height: 1;
	text-decoration: none;
	transition: 1s;
	background-color: transparent;
}

.poem-container:hover .poem-number a,
.poem-container:active .poem-number a{
	background-color: black;
	color: lightgrey;
}

.one{
	top: 10vh;
	right: 20vw;
}

.two{
	top: 20vh;
	right: 20vw;
}

.three{
	top: 30vh;
	right: 20vw;
}

.four{
	top: 40vh;
	right: 20vw;
}

.five{
	top: 50vh;
	right: 20vw;
}

.six{
	top: 60vh;
	right: 20vw;
}

.seven{
	top: 60vh;
	right: 10vw;
}

.eight{
	top: 65vh;
	right: 10vw;
}

.nine{
	top: 70vh;
	right: 20vw;
}

.ten{
	top: 75vh;
	right: 10vw;
}

.eleven{
	top: 80vh;
	right: 0;
}

.twelve{
	top: 90vh;
	right: 10vw;
}

.thirteen{
	bottom: 0;
	right: 20vw;
}

.fourteen{
	top: 90vh;
	right: 30vw;
}

.fifteen{
	top: 80vh;
	left: 60vw;
}

.sixteen{
	top: 80vh;
	left: 50vw;
}

.seventeen{
	top: 80vh;
	left: 40vw;
}

.eighteen{
	top: 80vh;
	left: 30vw;
}

.nineteen{
	top: 75vh;
	left: 20vw;
}

.twenty{
	top: 60vh;
	left: 20vw;
}

.twenty-one{
	top: 60vh;
	left: 10vw;
}

.twenty-two{
	top: 60vh;
	left: 0;
}

.twenty-three{
	top: 50vh;
	left: 0;
}

.twenty-four{
	top: 40vh;
	left: 0;
}

.twenty-five{
	top: 30vh;
	left: 0;
}

.twenty-six{
	top: 20vh;
	left: 0;
}

.twenty-seven{
	top: 20vh;
	left: 10vw;
}

.twenty-eight{
	top: 20vh;
	left: 20vw;
}

.twenty-nine{
	top: 20vh;
	left: 30vw;
}

.thirty{
	top: 20vh;
	left: 40vw;
}

.thirty-one{
	top: 10vh;
	left: 40vw;
}

.thirty-two{
	top: 0;
	left: 40vw;
}

.all{
	top: 0;
	right: 20vw;
	text-align:justify;
	text-align-last: justify;
	text-align:right;
	width: 30vw;
}

.poem-container:nth-of-type(33) .poem-image{
	z-index: 2;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.poem-container:nth-of-type(33) .individual{
	width: 12.5%; 
	height: 25%; 
	display: flex; 
	flex-wrap: wrap;
	background-color: white;
	position: relative;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.poem-container:nth-of-type(33) .individual img{
	opacity: 0.75;
}

.poem-container:nth-of-type(33) .individual:hover img,
.poem-container:nth-of-type(33) .individual:active img{
	opacity: 1;
}

.poem-container:nth-of-type(33) .individual a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	transition: 1s;
	text-decoration: none;
	color: black;
	font-size: 5vh;
	font-family: sans-serif;
	opacity: 1;
	background-color: rgba(211,211,211,0.75);
}

.poem-container:nth-of-type(33) .individual:hover a,
.poem-container:nth-of-type(33) .individual:active a{
	opacity: 0;
}

/*.poem-container:nth-of-type(33) .individual:nth-of-type(1) a{
	background-color: #006eff;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(2) a{
	background-color: #0f76fd;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(3) a{
	background-color: #1f7efc;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(4) a{
	background-color: #2e86fa;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(5) a{
	background-color: #3d8ef8;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(6) a{
	background-color: #4d96f7;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(7) a{
	background-color: #5c9ef5;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(8) a{
	background-color: #6ba6f3;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(9) a{
	background-color: #7baef2;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(10) a{
	background-color: #8ab6f0;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(11) a{
	background-color: #99beee;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(12) a{
	background-color: #a9c6ed;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(13) a{
	background-color: #b8ceeb;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(14) a{
	background-color: #c7d6e9;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(15) a{
	background-color: #d7dee8;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(16) a{
	background-color: #e6e6e6;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(17) a{
	background-color: #e8dcd7;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(18) a{
	background-color: #e9d3c7;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(19) a{
	background-color: #ebc9b8;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(20) a{
	background-color: #edbfa9;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(21) a{
	background-color: #eeb699;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(22) a{
	background-color: #f0ac8a;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(23) a{
	background-color: #f2a27b;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(24) a{
	background-color: #f3996b;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(25) a{
	background-color: #f58f5c;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(26) a{
	background-color: #f7854d;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(27) a{
	background-color: #f87c3d;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(28) a{
	background-color: #fa722e;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(29) a{
	background-color: #fc681f;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(30) a{
	background-color: #fd5f0f;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(31) a{
	background-color: #ff5500;
}

.poem-container:nth-of-type(33) .individual:nth-of-type(32) a{
	background-color: #ff4800;
}*/

/*
mobile view
*/
@media only screen and (max-width:480px) {
	.poem-container:nth-of-type(33) .individual{
		width: 25%; 
		height: 12.5%; 
	}
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width:768px) {
	.poem-container:nth-of-type(33) .individual{
		width: 25%; 
		height: 12.5%; 
	}
}